body{
  background: rgb(87,84,191);
  background: linear-gradient(90deg, rgba(87,84,191,1) 0%, rgba(162,119,216,1) 35%, rgba(75,71,177,1) 100%);
  height: 100%;
  font-family: 'Karla', sans-serif;
}
html{
  height: 100%;
}
button{
  background-color: #4B47B1;
  color: white;
  margin-left: 0;
  margin-right: 0;
  height: 60px;
  border: 1px solid rgba(99, 95, 217, 0.2);
  background-clip: padding-box;
}
.display{
  background-color: #F2F2F2;
  min-height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  /* padding-top: 70px; */
  display: grid;
  grid-template-columns: 217px 183px;
}
.calculator{
  width: 400px;
  border-radius: 20px;
  margin: 150px auto;
  /* border: 1px solid black; */
}
.buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0;
}
.zero{
  grid-column: 1/3;
  border-bottom-left-radius: 20px;
}
.equal{
  border-bottom-right-radius: 20px;
}
.division, .multiplication, .subtraction, .addition, .equal{
  background-color: #44424C;
}
input{
  background-color: #F2F2F2;
  /* width: 230px; */
  height: 100%;
  border-top-left-radius: 20px;
  border: 0;
  padding-top: 12.219959266802444vh;
  font-size: 20px;
  color: #A5ACCA;
}
input:focus{
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.answer{
  /* border: 1px solid red; */
  padding-right: 5px;
  text-align: right;
  /* width: 198px; */
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: #A5ACCA;
}
.input{
  padding-left: 5px;
}
/* @media (max-width: 1080px){
  .calculator{
    width: 70%;
    margin: 20vh auto;
  }
  .display{
    width: 70%;
  }
  .buttons{
    width: inherit;
  }
} */
